<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News24</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/CSS" href="~/content/сss/stylo.css">
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/content/images/favicon.ico" type="image/png">
</head>
<body>
    <header>
        <div class="header_wrapper">
            <a class="logo">
                <h1>
                    N24
                </h1>
            </a>
            <div class="up_menu">
                <a class="header_item">
                    <p class="header_item">
                        Мир
                    </p>
                </a>
                <a class="header_item">
                    <p class="header_item">
                        Экономика
                    </p>
                </a>
                <a class="header_item">
                    <p class="header_item">
                        Спорт
                    </p>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col left_state_menu">
                <div class="one_state">
                    <h5 class="one_state_logo">Поликристалы</h5>
                    <p class="one_state_date">12.10.2021</p>
                    <p class="one_state_note">Ученые нашли новый способ выращивать алмазы</p>
                </div>
                <div class="one_state">
                    <h5 class="one_state_logo">Поликристалы</h5>
                    <p class="one_state_date">12.10.2021</p>
                    <p class="one_state_note">Ученые нашли новый способ выращивать алмазы</p>
                </div>
                <div class="one_state">
                    <h5 class="one_state_logo">Поликристалы</h5>
                    <p class="one_state_date">12.10.2021</p>
                    <p class="one_state_note">Ученые нашли новый способ выращивать алмазы</p>
                </div>
                <div class="one_state">
                    <h5 class="one_state_logo">Поликристалы</h5>
                    <p class="one_state_date">12.10.2021</p>
                    <p class="one_state_note">Ученые нашли новый способ выращивать алмазы</p>
                </div>
            </div>
            <div class="col right_content">

            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>